<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/add.css">
</head>
<body>
    <div class="circle"></div>
    <img src="/image/boy.svg" alt="" class="svg">
    <div class="add-data">
        <h1>Total Nutrients Consume</h1>
        <div>
            <h4>Calories: <%=sum%></h4>
            <h4>Carbs: <%=sum2%>g</h4>
            <h4>Protein: <%=sum3%>g</h4>
            <h4>Fat: <%=sum4%>g</h4>
            <h4>Fiber: <%=sum5%>g</h4>
            <h4>Calcium: <%=sum6%>mg</h4>
            <h4>Iron: <%=sum7%>mg</h4>
            <h4>Magnesium: <%=sum8%>mg</h4>
        </div>
        <img class="add-data-img" src="https://cms.nextnature.net/media/pages/magazine/story/2011/the-story-behind-our-food/b6a5b12bff-1720018779/voeding_vanalles.jpg">
        <button onclick="window.location.href='http://localhost:8080/home';">Go Home</button>
    </div>


    <script src="/data.js"></script>
</body>
</html>